body {
    background-image: url("https://wallpaperscraft.com/image/the_office_tv_series_steve_carell_boss_96802_1920x1080.jpg");
}

.card{
    background: black
}

h5 {
    color: white
}

#header {
    text-align: center;
    margin-left: 200px
}